#***REMOVED***Core***REMOVED***ML/DL***REMOVED***libraries
tensorflow==2.12.0
numpy==1.23.5
pandas<2
scipy

#***REMOVED***Machine***REMOVED***learning
scikit-learn==1.3.2
xgboost==1.7.6
joblib==1.3.2

#***REMOVED***Visualization
matplotlib
seaborn

#***REMOVED***ML***REMOVED***Ops***REMOVED***&***REMOVED***Tracking
mlflow==2.2.2
pytz<2023
python-box==6.0.2
dagshub

#***REMOVED***Data***REMOVED***&***REMOVED***project***REMOVED***management
gdown
dvc
pyyaml
types-PyYAML
tqdm

#***REMOVED***Web/Deployment
Flask
Flask-Cors
gunicorn

#***REMOVED***Notebook***REMOVED***support
notebook

-e***REMOVED***.
